/* CSS files add styling rules to your content */

h1 {
  color: green;
}

#navbar{
  text-decoration: none;
  background-color: lightblue;
  color: green;
}

#About{
  color: white;
}

#home{
  background-color: black;
}